In [88]:
import pandas as pd

In [242]:
cols = [
    'TEAM',
 'CONF',
 'G',
 'W',
 'ADJOE',
 'ADJDE',
 'BARTHAG',
 'EFG_O',
 'EFG_D',
 'TOR',
 'TORD',
 'ORB',
 'DRB',
 'FTR',
 'FTRD',
 '2P_O',
 '2P_D',
 '3P_O',
 '3P_D',
 'ADJ_T',
 'WAB',
"SEED"]

In [243]:
df = pd.read_excel("data/2022March.xlsx")

In [244]:
df

,Unnamed: 0,TEAM,CONF,G,Unnamed: 4,Unnamed: 5,W,ADJOE,ADJDE,BARTHAG,...,ORB,DRB,FTR,FTRD,2P%,2P%D,3P%,3P%D,ADJ T.,WAB
0,1,Gonzaga,WCC,29,26,3.0,26.0,121.4,88.4,0.9747,...,29,23,29.7,22.2,60.9,41.6,37.9,30.7,72.7,7
1,NaN,NaN,NaN,NaN,13–1,NaN,NaN,3,5,1,...,147,21,193,16,2,1,17,37,4,8
2,2,Houston,Amer,33,28,5.0,28.0,116.8,89.6,0.9551,...,37.9,27.3,28.6,35.3,55.3,43.2,34.1,29.3,64.1,5.7
3,NaN,vs. 18 Memphis,NaN,NaN,15–3,NaN,NaN,10,8,2,...,2,139,231,292,20,7,146,12,325,14
4,3,Kansas,B12,34,28,6.0,28.0,119.8,93.1,0.9476,...,33.4,28.9,32.8,27.8,54.5,47.9,35.5,30.1,69,10.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,NaN,NaN,NaN,NaN,0–14,NaN,NaN,355,312,356,...,210,354,111,275,348,134,249,301,116,358
725,357,Eastern Illinois,OVC,29,2022-05-26 00:00:00,NaN,5.0,83.2,108.2,0.0466,...,20.6,32.6,31.2,24.2,42.3,55.8,31.8,33.5,64.8,-20
726,NaN,NaN,NaN,NaN,3–15,NaN,NaN,357,284,357,...,347,335,143,38,355,348,270,169,301,350
727,358,IUPUI,Horz,27,2022-03-26 00:00:00,NaN,3.0,80.3,109.6,0.0273,...,30.1,33,24.9,37.5,41.6,52.4,29.2,35.5,62.4,-22.3
728,NaN,NaN,NaN,NaN,1–16,NaN,NaN,358,315,358,...,109,337,321,322,357,277,347,278,346,357

In [245]:
df =df[df["G"].notna()]

In [246]:
df = df.drop(columns = ["Unnamed: 0", "Unnamed: 4", "Unnamed: 5"])

In [247]:
df = df.reset_index(drop = True)

In [248]:
west22 = [
    "Gonzaga", 
    "Duke", 
    "Texas Tech", 
    "Arkansas",
    "Connecticut", 
    "Alabama", 
    "Michigan St.", 
    "Boise St.",
    "Memphis", 
    "Davidson", 
    "Rutgers", 
    "Notre Dame", 
    "New Mexico St.",
    "Vermont", 
    "Montana St.", 
    "Cal St. Fullerton", 
    "Georgia St."
]

westseed =  [1,2,3,4,5,6,7,8,9,10,11,11,12,13,14,15,16]

In [249]:
west = pd.DataFrame()
west["SEED"] = westseed
west["TEAM"] = west22

w = df.merge(west, on = "TEAM")

In [250]:
south22 = [
    "Arizona", "Villanova", "Tennessee", "Illinois",
    'Houston', "Colorado St.", "Ohio St.", "Seton Hall",
    "TCU", "Loyola Chicago", "Michigan", "UAB",
    "Chattanooga", "Longwood", "Delaware", "Bryant", "Wright St."
]

southseed = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,16]

In [251]:
south = pd.DataFrame()
south["SEED"] = southseed
south["TEAM"] = south22

s = df.merge(south, on = "TEAM")

In [252]:
midwest22 = [
    "Kansas", "Auburn", "Wisconsin", "Providence",
    "Iowa", "LSU", "USC", "San Diego St.", 
    "Creighton", "Miami FL", "Iowa St.", "Richmond",
    "South Dakota St.", "Colgate", "Jacksonville St.", "Texas Southern", "Texas A&M Corpus Chris"
]

midwestseed = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,16]

In [253]:
midwest = pd.DataFrame()
midwest["SEED"] = midwestseed
midwest["TEAM"] = midwest22

mw = df.merge(midwest, on = "TEAM")

In [254]:
east22 = [
    "Baylor", "Kentucky", "Purdue", "UCLA",
    "Saint Mary's", "Texas", "Murray St.", "North Carolina",
    "Marquette", "San Francisco", "Virginia Tech", "Wyoming","Indiana",
    "Akron", "Yale", "Saint Peter's", "Norfolk St."
]

eastseed = [1,2,3,4,5,6,7,8,9,10,11,12,12,13,14,15,16]

In [255]:
east = pd.DataFrame()
east["SEED"] = eastseed
east["TEAM"] = east22

In [256]:
e = df.merge(east, on = "TEAM")

In [257]:
teams = e.append([s, w, mw])

In [258]:
teams = teams.set_axis(cols, axis=1, inplace=False)

In [259]:
teams

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED
0,Baylor,B12,32,26.0,117.1,91.7,0.9429,52.9,47.8,18.2,...,28.4,28.5,26.9,53.5,49.5,34.6,29.9,67.5,8.6,1
1,Kentucky,SEC,33,26.0,119.4,94.3,0.9381,53.3,46.5,16.6,...,24.9,27.2,25.1,53.7,47.2,34.9,30.3,67.6,6.9,2
2,UCLA,P12,32,25.0,115.5,91.6,0.9349,50.6,47.7,13.4,...,24.8,29.8,29.2,49.6,47.3,35.2,32.2,65.7,5.5,4
3,Purdue,B10,34,27.0,122.2,97.7,0.9291,57,49.6,17.3,...,23.6,36.3,21.4,55.9,49.2,39.1,33.5,65.7,7.3,3
4,Texas,B12,32,21.0,111.4,91.1,0.9099,50.1,46.5,18.2,...,30,32.3,36.8,50.9,46.1,32.3,31.6,63,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,Richmond,A10,35,23.0,108,99.5,0.7186,51.5,50.5,14.4,...,27.2,30.9,23.5,52.2,50,33.8,34.3,66.7,-1.5,12
13,Colgate,Pat,33,23.0,106.5,103.1,0.5917,55.9,49,16.9,...,24.8,26.8,24.3,52.7,48.2,40.2,33.7,67.1,-6.2,14
14,Jacksonville St.,ASun,29,21.0,104.4,102.2,0.561,54.2,48,20,...,26.2,32.2,21.1,51.8,47.4,38.2,32.5,65.1,-5.1,15
15,Texas Southern,SWAC,30,18.0,96.9,98.7,0.4468,48.7,44.9,21.4,...,28.2,32.7,34.3,49.2,45.2,31.7,29.5,67.6,-6.6,16
16,Texas A&M Corpus Chris,Slnd,30,23.0,96.5,102.8,0.3254,47.3,49.1,19.9,...,29,38.4,41.6,47.3,50.5,31.6,31.5,68.8,-7.5,16

In [260]:
teams.to_csv("data/cbb22.csv", index = False)

In [272]:
df21 = pd.read_csv("data/cbb21.csv")

In [273]:
df21 = df21[df21["SEED"]< 17]

In [274]:
df21.insert(2, 'POSTSEASON', "R64")

In [300]:
df21

,TEAM,CONF,POSTSEASON,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,...,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED
0,Michigan,B10,E8,24,20,118.1,91.1,0.9521,54.9,44.9,...,24.8,28.9,24.5,53.3,42.3,38.7,33.5,66.9,7.2,1.0
1,Baylor,B12,Champions,24,22,123.2,94.5,0.9548,57.5,49.1,...,30.9,27.0,31.7,54.1,48.1,41.8,34.0,68.8,6.6,1.0
2,Illinois,B10,R32,29,23,117.7,90.4,0.9539,55.6,46.6,...,22.2,39.2,30.5,55.3,45.4,37.6,32.7,70.7,8.9,1.0
3,Gonzaga,WCC,2ND,26,26,125.4,89.8,0.9791,61.0,47.5,...,23.4,36.7,25.9,64.0,46.8,36.5,32.5,74.6,8.5,1.0
4,Iowa,B10,R32,29,21,123.5,95.7,0.9491,54.6,48.3,...,28.6,32.0,22.6,52.4,45.8,38.6,34.8,70.0,5.6,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Mount St. Mary's,NEC,None,22,12,95.7,100.6,0.3593,48.7,45.5,...,24.6,29.7,24.6,47.7,45.6,33.7,30.1,62.2,-7.2,16.0
64,Hartford,AE,R64,23,15,97.3,99.6,0.4345,50.4,47.6,...,28.6,28.6,25.0,51.3,50.7,32.7,28.7,66.9,-4.9,16.0
65,Norfolk St.,MEAC,R64,21,16,99.4,104.1,0.3698,49.7,47.4,...,28.7,38.6,42.0,46.1,47.2,37.4,31.7,67.9,-5.0,16.0
66,Texas Southern,SWAC,R64,23,16,97.3,103.5,0.3307,48.3,46.5,...,25.7,38.9,33.8,51.0,45.2,27.7,32.4,71.8,-4.5,16.0
67,Appalachian St.,SB,None,24,17,99.0,104.4,0.3512,47.7,50.4,...,30.6,33.0,24.0,46.7,50.4,32.6,33.5,65.4,-7.7,16.0

In [283]:
teams21 = [
    "Michigan", "Alabama", "Texas", "Florida St.",
    "Colorado", "BYU", "Connecticut", "LSU",
    "St. Bonaventure", "Maryland", "UCLA", "Georgetown",
    "UNC Greensboro", "Abilene Christian", "Iona", "Texas Southern"
    "Baylor", "Ohio St.", "Arkansas", "Purdue",
    'Villanova', 'Texas Tech', "Florida", 'North Carolina',
    'Wisconsin', "Virginia Tech", "Utah St.", "Winthrop",
    "North Texas", "Colgate", "Oral Roberts", "Hartford",
    "Illinois", "Houston", "West Virginia", "Oklahoma St.",
    "Tennessee", "San Diego St.", "Clemson", "Loyola Chicago",
    "Georgia Tech", "Rutgers", "Syracuse", "Oregon St.",
    "Liberty", 'Morehead St.', 'Cleveland St.', 'Drexel',
    "Gonzaga", "Iowa", "Kansas", "Virginia",
    "Creighton", "USC", "Oregon", "Oklahoma",
    "Missouri", "VCU", "Drake", "UC Santa Barbara",
    "Ohio", "Eastern Washington", "Grand Canyon", "Norfolk St."
]

In [284]:
far = {
    "Baylor": "Champions",
    "Gonzaga": "2ND",
    "UCLA": "F4",
    'Houston': "F4",
    'Arkansas': "E8",
    "USC": "E8",
    "Michigan": "E8",
    "Oregon St.": "E8",
    "Florida St.": "S16",
    "Alabama": "S16",
    "Loyola Chicago": "S16",
    "Syracuse": "S16",
    "Oral Roberts": "S16",
    "Villanova": "S16",
    "Creighton": "S16",
    "Oregon": "S16",
    "Iowa": "R32",
    "Kansas": "R32",
    "Ohio": "R32",
    "Oklahoma": "R32",
    "LSU": "R32",
    "Colorado": "R32",
    "Abilene Christian": "R32",
    "Maryland": "R32",
    "Illinois": "R32",
    "Oklahoma St.": "R32",
    "West Virginia": "R32",
    "Rutgers": "R32",
    "Florida": "R32",
    "Texas Tech": "R32",
    "North Texas": "R32",
    "Wisconsin": "R32"
}

In [285]:
far.keys()

dict_keys(['Baylor', 'Gonzaga', 'UCLA', 'Houston', 'Arkansas', 'USC', 'Michigan', 'Oregon St.', 'Florida St.', 'Alabama', 'Loyola Chicago', 'Syracuse', 'Oral Roberts', 'Villanova', 'Creighton', 'Oregon', 'Iowa', 'Kansas', 'Ohio', 'Oklahoma', 'LSU', 'Colorado', 'Abilene Christian', 'Maryland', 'Illinois', 'Oklahoma St.', 'West Virginia', 'Rutgers', 'Florida', 'Texas Tech', 'North Texas', 'Wisconsin'])

In [301]:
df_list =df_list 
ps = []
for x in df_list:
    if x in list(far.keys()):
        ps.append(far[x])
    elif x in ["Mount St. Mary's", "Michigan St.", "Appalachian St.", "Wichita St."]:
        ps.append("None")
    else:
        ps.append("R64")
df21["POSTSEASON"] = ps

In [302]:
df21= df21[df21.POSTSEASON != "None"]

In [304]:
df21.to_csv("data/cbb21t.csv")