## This Is March
by Chancellor Tang

For this project, my goal was to see if it were possible to create a model that could predict the mens NCAA March Madness tournament. To do this, I retrieved 2 datasets. ncaam.csv, which has statistics for teams from tournament paticipants from the past five tournaments (2015-2019) With a column labeled "POSTSEASON", which stated how far each team went in the tournament. cbb21.csv hold team statistics from the 2021 season.

Link: https://www.kaggle.com/andrewsundberg/college-basketball-dataset?select=cbb.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
ncaam = pd.read_csv('data/cbb.csv')

In [4]:
ncaam21 = pd.read_csv('data/cbb21t.csv')

In [5]:
ncaam22 = pd.read_csv('data/cbb22.csv')

**Data Cleansing**

The first step I took to cleanse was to drop all the schools not in the tournament out of the 2021 DataFrame. To do this, I created a condition to filter out any team with less than a 17 seed because 17 seeds do not exist in this tournament (yet). To make it easier for a later process, I also rearranged the columns so that the numeric values were grouped together. From there, for each DataFrame. I filled all null values with 0 and changed the seed number to an int. After restructuring the data, I divided the past tournaments DataFrame into their respective years.

In [6]:
ncaam21 = ncaam21[ncaam21['SEED'] < 17]

In [7]:
def power_conf(df):
    test_list = []
    for x in df.CONF:
        if x in ["B10", "B12", "SEC", "P12", "BE", "ACC"]:
            test_list.append(1)
        else:
            test_list.append(0)
    return test_list

In [8]:
new_columns = ['TEAM',
 'CONF',
 'POSTSEASON',
 'G',
 'W',
 "WIN_PER",
 'ADJOE',
 'ADJDE',
 'BARTHAG',
 'EFG_O',
 'EFG_D',
 'TOR',
 'TORD',
 'ORB',
 'DRB',
 'FTR',
 'FTRD',
 '2P_O',
 '2P_D',
 '3P_O',
 '3P_D',
 'ADJ_T',
 'WAB',
 'SEED',
 "POWER",
 'YEAR']

In [9]:
ncaam = ncaam.fillna(0)
ncaam.SEED = ncaam.SEED.astype(int) 
ncaam["WIN_PER"] = ncaam["W"]/ncaam["G"]
ncaam["POWER"] = power_conf(ncaam)
ncaam = ncaam.reindex(columns=new_columns)

In [10]:
ncaam22 = ncaam22.fillna(0)
ncaam22.SEED = ncaam22.SEED.astype(int) 
ncaam22['YEAR']=2022
ncaam22["POWER"] = power_conf(ncaam22)
ncaam22["WIN_PER"] = ncaam22["W"]/ncaam22["G"]
ncaam22 = ncaam22.reindex(columns=new_columns)

In [11]:
ncaam21 = ncaam21.fillna(0)
ncaam21.SEED = ncaam21.SEED.astype(int) 
ncaam21['YEAR']=2021
ncaam21["POWER"] = power_conf(ncaam21)
ncaam21["WIN_PER"] = ncaam21["W"]/ncaam21["G"]
ncaam21 = ncaam21.reindex(columns=new_columns)

In [12]:
#ncaam21 = ncaam[ncaam['YEAR']==2021]
ncaam19 = ncaam[ncaam['YEAR']==2019]
ncaam18 = ncaam[ncaam['YEAR']==2018]
ncaam17 = ncaam[ncaam['YEAR']==2017]
ncaam16 = ncaam[ncaam['YEAR']==2016]
ncaam15 = ncaam[ncaam['YEAR']==2015]
ncaam14 = ncaam[ncaam['YEAR']==2014]
ncaam13 = ncaam[ncaam['YEAR']==2013]

In [13]:
ncaam

,TEAM,CONF,POSTSEASON,G,W,WIN_PER,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED,POWER,YEAR
0,North Carolina,ACC,2ND,40,33,0.825000,123.3,94.9,0.9531,52.6,48.1,15.4,18.2,40.7,30.0,32.3,30.4,53.9,44.6,32.7,36.2,71.7,8.6,1,1,2016
1,Wisconsin,B10,2ND,40,36,0.900000,129.1,93.6,0.9758,54.8,47.7,12.4,15.8,32.1,23.7,36.2,22.4,54.8,44.7,36.5,37.5,59.3,11.3,1,1,2015
2,Michigan,B10,2ND,40,33,0.825000,114.4,90.4,0.9375,53.9,47.7,14.0,19.5,25.5,24.9,30.7,30.0,54.7,46.8,35.2,33.2,65.9,6.9,3,1,2018
3,Texas Tech,B12,2ND,38,31,0.815789,115.2,85.2,0.9696,53.5,43.0,17.7,22.8,27.4,28.7,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,3,1,2019
4,Gonzaga,WCC,2ND,39,37,0.948718,117.8,86.3,0.9728,56.6,41.1,16.2,17.1,30.0,26.2,39.0,26.9,56.3,40.0,38.2,29.0,71.5,7.7,1,0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450,Michigan St.,B10,S16,35,26,0.742857,111.4,87.8,0.9392,50.6,44.5,20.8,19.2,36.1,27.6,36.6,32.4,50.4,44.3,34.1,30.1,64.4,6.7,3,1,2013
2451,Arizona,P12,S16,35,27,0.771429,114.4,92.2,0.9229,52.5,46.6,19.5,19.8,35.0,26.7,37.4,32.9,50.6,43.4,37.1,35.8,66.8,4.6,6,1,2013
2452,Oregon,P12,S16,37,28,0.756757,104.8,88.6,0.8728,49.3,46.4,21.4,22.0,35.8,27.2,38.4,33.3,49.1,44.9,33.3,33.4,69.2,2.9,12,1,2013
2453,La Salle,A10,S16,34,24,0.705882,112.0,96.2,0.8516,51.9,49.3,17.1,21.3,29.0,34.2,31.3,28.5,49.3,50.6,37.7,30.2,66.0,0.3,13,0,2013
2454,Florida Gulf Coast,ASun,S16,35,24,0.685714,103.4,96.3,0.6952,51.6,46.9,21.0,22.1,32.5,32.8,35.2,32.7,52.3,46.9,33.4,31.3,69.1,-4.0,15,0,2013

**Manual Input**


One of the drawbacks from this dataframe is that it does not tell you which leg of the bracket each team came from. This causes an issue with setting up matchups. To regroup the data, I had to manually create lists for each leg (4) of each tournament (6).

In [14]:
east21 = [
    "Michigan", "Alabama", "Texas", "Florida St.",
    "Colorado", "BYU", "Connecticut", "LSU",
    "St. Bonaventure", "Maryland", "UCLA", "Georgetown",
    "UNC Greensboro", "Abilene Christian", "Iona", "Texas Southern"
]

In [15]:
south21 = [
    "Baylor", "Ohio St.", "Arkansas", "Purdue",
    'Villanova', 'Texas Tech', "Florida", 'North Carolina',
    'Wisconsin', "Virginia Tech", "Utah St.", "Winthrop",
    "North Texas", "Colgate", "Oral Roberts", "Hartford"
]

In [16]:
midwest21 = [
    "Illinois", "Houston", "West Virginia", "Oklahoma St.",
    "Tennessee", "San Diego St.", "Clemson", "Loyola Chicago",
    "Georgia Tech", "Rutgers", "Syracuse", "Oregon St.",
    "Liberty", 'Morehead St.', 'Cleveland St.', 'Drexel'
]

In [17]:
west21 = [
    "Gonzaga", "Iowa", "Kansas", "Virginia",
    "Creighton", "USC", "Oregon", "Oklahoma",
    "Missouri", "VCU", "Drake", "UC Santa Barbara",
    "Ohio", "Eastern Washington", "Grand Canyon", "Norfolk St."
]

In [18]:
east19 =  [
    "Duke", 'Michigan St.', 'LSU', 'Virginia Tech',
    "Mississippi St.", "Maryland", 'Louisville', 'VCU',
    'UCF', 'Minnesota', 'Belmont', 'Liberty',
    'Saint Louis', 'Yale', 'Bradley', 'North Dakota St.'
]

In [19]:
west19 = [
    "Gonzaga", "Michigan", "Texas Tech", "Florida St.",
    "Marquette", "Buffalo", "Nevada", "Syracuse",
    "Baylor", "Florida", "Arizona St.", "Murray St.",
    "Vermont", "Northern Kentucky", "Montana", "Fairleigh Dickinson"
]

In [20]:
south19 = [
    "Virginia", "Tennessee", "Purdue", "Kansas St.",
    "Wisconsin", "Villanova", "Cincinnati", "Mississippi",
    "Oklahoma", "Iowa", "Saint Mary's", "Oregon",   
    "UC Irvine", "Old Dominion", "Colgate", "Gardner Webb"
]

In [21]:
midwest19 = [
    "North Carolina", "Kentucky", "Houston", "Kansas",
    "Auburn", "Iowa St.", "Wofford", "Utah St.",
    "Washington", "Seton Hall", "Ohio St.", "New Mexico St.",
    "Northeastern", "Georgia St.", "Abilene Christian", "Iona"
]

In [22]:
east18 = [
    "Villanova", "Purdue", "Texas Tech", "Wichita St.",
    "West Virginia", "Florida", "Arkansas", "Virginia Tech",
    "Alabama", "Butler", "St. Bonaventure", "Murray St.",
    "Marshall", "Stephen F. Austin", "Cal St. Fullerton", "Radford"
]

In [23]:
west18 = [
    "Xavier", "North Carolina", "Michigan", "Gonzaga",
    "Ohio St.", "Houston", "Texas A&M", "Missouri",
    "Florida St.", 'Providence', "San Diego St.", "South Dakota St.",
    "UNC Greensboro", "Montana", "Lipscomb", "Texas Southern"
]

In [24]:
south18 = [
    "Virginia", "Cincinnati", "Tennessee", "Arizona",
    "Kentucky", "Miami FL", "Nevada", "Creighton",
    "Kansas St.", "Texas", "Loyola Chicago", "Davidson",
    "Buffalo", "Wright St.", "Georgia St.", "UMBC"
]

In [25]:
midwest18 = [
    "Kansas", "Duke", "Michigan St.", "Auburn",
    "Clemson", "TCU", "Rhode Island", "Seton Hall",
    "North Carolina St.", "Oklahoma", "Syracuse", "New Mexico St.",
    "College of Charleston", "Bucknell", "Iona", "Penn"
]

In [26]:
east17 = [
    "Villanova", "Duke", "Baylor", "Florida",
    "Virginia", "SMU", "South Carolina", "Wisconsin",
    "Virginia Tech", "Marquette", "USC", "UNC Wilmington",
    "East Tennessee St.", "New Mexico St.", "Troy", "Mount St. Mary's"
]

In [27]:
west17 = [
    "Gonzaga", "Arizona", "Florida St.", "West Virginia",
    "Notre Dame", "Maryland", "Saint Mary's", "Northwestern",
    "Vanderbilt", "VCU", "Xavier", "Princeton",
    "Bucknell", "Florida Gulf Coast", "North Dakota", "South Dakota St."
]

In [28]:
south17 = [
    "North Carolina", "Kentucky", "UCLA", "Butler",
    "Minnesota", "Cincinnati", "Dayton", "Arkansas", 
    "Seton Hall", "Wichita St.", "Kansas St.", "Middle Tennessee",
    "Winthrop", "Kent St.", "Northern Kentucky", "Texas Southern"
]

In [29]:
midwest17 = [
    "Kansas", "Louisville", "Oregon", "Purdue",
    "Iowa St.", "Creighton", "Michigan", "Miami FL",
    "Michigan St.", "Oklahoma St.", "Rhode Island", "Nevada",
    "Vermont", 'Iona', "Jacksonville St.", "UC Davis"
]

In [30]:
east16 = [
    "North Carolina", "Xavier", "West Virginia", "Kentucky",
    "Indiana", "Notre Dame", "Wisconsin", "USC",
    "Providence", "Pittsburgh", "Michigan", "Chattanooga",
    "Stony Brook", "Stephen F. Austin", "Weber St.", "Florida Gulf Coast"
]

In [31]:
west16 = [
    "Oregon", "Oklahoma", "Texas A&M", "Duke",
    "Baylor", "Texas", "Oregon St.", "Saint Joseph's",
    "Cincinnati", "VCU", "Northern Iowa", "Yale",
    "UNC Wilmington", "Green Bay", "Cal St. Bakersfield", "Holy Cross"
]

In [32]:
south16 = [
    "Kansas", "Villanova", "Miami FL", "California",
    "Maryland", "Arizona", "Iowa", "Colorado",
    "Connecticut", "Temple", "Wichita St.", "South Dakota St.",
    "Hawaii", "Buffalo", "UNC Asheville", "Austin Peay"
]

In [33]:
midwest16 = [
    "Virginia", "Michigan St.", "Utah", "Iowa St.",
    "Purdue", "Seton Hall", "Dayton", "Texas Tech",
    "Butler", "Syracuse", "Gonzaga", "Arkansas Little Rock",
    "Iona", "Fresno St.", "Middle Tennessee", "Hampton"
]

In [34]:
east15 = [
    "Villanova", "Virginia", "Oklahoma", "Louisville",
    "Northern Iowa", "Providence", "Michigan St.", "North Carolina St.",
    "LSU", "Georgia", "Dayton", 'Wyoming',
    "UC Irvine", "Albany", "Belmont", "Lafayette"
]

In [35]:
west15 = [
    "Wisconsin", "Arizona", "Baylor", "North Carolina",
    "Arkansas", "Xavier", "VCU", "Oregon",
    "Oklahoma St.", "Ohio St.", "Mississippi", "Wofford",
    "Harvard", "Georgia St.", "Texas Southern", "Coastal Carolina"
]

In [36]:
south15 = [
    "Duke", "Gonzaga", "Iowa St.", "Georgetown",
    "Utah", "SMU", "Iowa", "San Diego St.", 
    "St. John's", "Davidson", "UCLA", "Stephen F. Austin", 
    "Eastern Washington", "UAB", "North Dakota St.", "Robert Morris"
]

In [37]:
midwest15 = [
    "Kentucky", "Kansas", "Notre Dame", "Maryland",
    "West Virginia", "Butler", "Wichita St.", "Cincinnati",
    "Purdue", "Indiana", "Texas", "Buffalo",
    "Valparaiso", "Northeastern", "New Mexico St.", "Hampton"
]

In [38]:
east14 = [
    "Virginia", "Villanova", "Iowa St.", "Michigan St.",
    "Cincinnati", "North Carolina", "Connecticut", "Memphis",
    "George Washington", "Saint Joseph's", "Providence", "Harvard",
    "Delaware", "North Carolina Central", "Milwaukee", "Coastal Carolina"    
]

In [39]:
west14 = [
    "Arizona", "Wisconsin", "Creighton", "San Diego St.",
    "Oklahoma", "Baylor", "Oregon","Gonzaga", 
    "Oklahoma St.", "BYU", "Nebraska", "North Dakota St.", 
    "New Mexico St.", "Louisiana Lafayette", "American", "Weber St."
]

In [40]:
south14 = [
    "Florida", "Kansas", "Syracuse", "UCLA",
    "VCU", "Ohio St.", "New Mexico", "Colorado",
    "Pittsburgh", "Stanford","Dayton", "Stephen F. Austin",
    "Tulsa", "Western Michigan", "Eastern Kentucky", "Albany"
]

In [41]:
midwest14 = [
    "Wichita St.", "Michigan", "Duke", "Louisville",
    "Saint Louis", "Massachusetts", "Texas", "Kentucky",
    "Kansas St.", "Arizona St.", "Tennessee", "North Carolina St.",
    "Manhattan", "Mercer", "Wofford", "Cal Poly"
]

In [42]:
east13 = [
    "Indiana", "Miami FL", "Marquette", "Syracuse",
    "UNLV", "Butler", "Illinois", "North Carolina St.",
    "Temple", "Colorado", "Bucknell", "California",
    "Montana", "Davidson", "Pacific", "James Madison"
]

In [43]:
west13 = [
    "Gonzaga", "Ohio St.", "New Mexico", "Kansas St.",
    "Wisconsin", "Arizona", "Notre Dame", "Pittsburgh",
    "Wichita St.", "Iowa St.", "Belmont", "Mississippi",
    "La Salle", "Harvard", "Iona", "Southern"
]

In [44]:
south13 = [
    "Kansas", "Georgetown", "Florida", "Michigan",
    "VCU", "UCLA", "San Diego St.", "North Carolina",
    "Villanova", "Oklahoma", "Minnesota", "Akron",
    "South Dakota St.", "Northwestern St.", "Florida Gulf Coast", "Western Kentucky"
]

In [45]:
midwest13 = [
    "Louisville", "Duke", "Michigan St.", "Saint Louis", 
    "Oklahoma St.", "Memphis", "Creighton", "Colorado St.",
    "Missouri", "Cincinnati", "Saint Mary's", "Oregon",
    "New Mexico St." , "Valparaiso", "Albany", "North Carolina A&T"
]

In [46]:
west22 = [
    "Gonzaga", "Duke", "Texas Tech", "Arkansas",
    "Connecticut", "Alabama", "Michigan St.", "Boise St.",
    "Memphis", "Davidson", "Notre Dame", "New Mexico St.",
    "Vermont", "Montana St.", "Cal St. Fullerton", "Georgia St."
]

In [47]:
south22 = [
    "Arizona", "Villanova", "Tennessee", "Illinois",
    'Houston', "Colorado St.", "Ohio St.", "Seton Hall",
    "TCU", "Loyola Chicago", "Michigan", "UAB",
    "Chattanooga", "Longwood", "Delaware", "Wright St."
]

In [48]:
midwest22 = [
    "Kansas", "Auburn", "Wisconsin", "Providence",
    "Iowa", "LSU", "USC", "San Diego St.", 
    "Creighton", "Miami FL", "Iowa St.", "Richmond",
    "South Dakota St.", "Colgate", "Jacksonville St.", "Texas Southern"
]

In [49]:
east22 = [
    "Baylor", "Kentucky", "Purdue", "UCLA",
    "Saint Mary's", "Texas", "Murray St.", "North Carolina",
    "Marquette", "San Francisco", "Virginia Tech", "Indiana", 
    "Akron", "Yale", "Saint Peter's", "Norfolk St."
]

**Creating the Dataframes**

For creating each leg's dataframe, I created three functions. f(x) works like a case function. It looks up the value of the column "POSTSEASON" and returns a list of ones and zeros to act as dummy variables. The dummy(z) function user f(x) to create a dataframe of of all these dummy variables. Finally, create_df(x,y) creates a final dataframe where it merges (the region list with their year's respective nccam dataframe to import the data. This also uses the dummy(z) function to add on the dummy variables.

To create the dataframe, I used a for loop that creates the dataframes based on their region and their name.

In [50]:
def round_assign(x):
    if x['POSTSEASON'] == "R64" : return [1,0,0,0,0,0,0]
    elif x['POSTSEASON'] == "R32" : return [1,1,0,0,0,0,0]
    elif x['POSTSEASON'] == "S16" : return [1,1,1,0,0,0,0]
    elif x['POSTSEASON'] == 'E8': return [1,1,1,1,0,0,0]
    elif x['POSTSEASON'] == 'F4': return [1,1,1,1,1,0,0]
    elif x['POSTSEASON'] == '2ND' or x['POSTSEASON'] == 'C2': return [1,1,1,1,1,1,0]
    elif x['POSTSEASON'] == 'Champions': return [1,1,1,1,1,1,1]
    else: return [0,0,0,0,0,0,0]

In [51]:
def dummy(z):
    a = []
    for x in range(0,len(z)):
        a.append(round_assign(z.iloc[x]))
    a = pd.DataFrame(a)
    a = a.rename(columns={0: "R64", 1: "R32", 2: "S16",3: "E8", 4:"F4",5:"C2",6:"Champions"})
    return a

In [52]:
def region_df(x,y):
    v = pd.DataFrame(x)
    v = v.rename(columns={0: "TEAM"})
    v = v.merge(y, on = 'TEAM', how='left')
    v = v.join(dummy(v))
    return v

In [53]:
all_years = [13,14,15,16,17,18,19,21,22]
legs = ["east",'south', 'midwest', 'west']
for x in all_years:
    for y in range(0, len(legs)):
        globals()[legs[y] + '%s' % x + '%s' %"_df"] = region_df(globals()[legs[y] + '%s' % x],  globals()['ncaam' + '%s' % x])

In [54]:
midwest22_df

,TEAM,CONF,POSTSEASON,G,W,WIN_PER,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED,POWER,YEAR,R64,R32,S16,E8,F4,C2,Champions
0,Kansas,B12,NaN,34,28.0,0.823529,119.8,93.1,0.9476,54.1,46.9,17.8,18.4,33.4,28.9,32.8,27.8,54.5,47.9,35.5,30.1,69.0,10.1,1,1,2022,0,0,0,0,0,0,0
1,Auburn,SEC,NaN,32,27.0,0.843750,112.5,89.7,0.9315,50.3,44.1,16.7,20.7,33.2,29.3,31.6,34.8,51.9,42.6,32.0,31.2,69.9,7.7,2,1,2022,0,0,0,0,0,0,0
2,Wisconsin,B10,NaN,31,24.0,0.774194,110.1,93.8,0.8638,48.2,49.4,12.7,16.9,25.8,24.0,32.3,27.7,48.9,49.9,31.3,32.3,66.4,6.7,3,1,2022,0,0,0,0,0,0,0
3,Providence,BE,NaN,30,25.0,0.833333,111.8,97.7,0.8253,50.3,46.7,17.3,15.8,30.5,28.0,38.5,26.3,49.6,46.6,34.3,31.2,65.4,6.0,4,1,2022,0,0,0,0,0,0,0
4,Iowa,B10,NaN,35,26.0,0.742857,121.7,97.0,0.9312,53.6,49.8,12.9,19.3,32.2,30.2,30.4,26.2,52.6,50.0,36.8,32.9,69.7,5.0,5,1,2022,0,0,0,0,0,0,0
5,LSU,SEC,NaN,33,22.0,0.666667,106.4,89.4,0.8798,49.5,45.1,20.4,25.3,33.7,31.2,33.0,38.4,50.5,47.7,31.9,28.0,68.7,2.4,6,1,2022,0,0,0,0,0,0,0
6,USC,P12,NaN,33,26.0,0.787879,109.1,96.6,0.8027,51.1,44.7,17.7,14.7,33.8,27.2,30.9,26.3,50.1,41.6,35.4,33.7,66.0,4.3,7,1,2022,0,0,0,0,0,0,0
7,San Diego St.,MWC,NaN,31,23.0,0.741935,102.3,86.3,0.8764,48.8,44.0,19.3,21.7,29.6,27.0,31.3,30.6,46.6,43.1,35.8,30.4,65.2,3.1,8,0,2022,0,0,0,0,0,0,0
8,Creighton,BE,NaN,33,22.0,0.666667,103.8,91.7,0.8062,50.9,44.9,20.5,15.5,28.6,28.4,26.0,20.3,53.9,43.5,30.7,31.7,66.8,2.0,9,1,2022,0,0,0,0,0,0,0
9,Miami FL,ACC,NaN,33,23.0,0.696970,114.1,100.6,0.8092,54.2,53.4,14.2,20.3,23.4,30.3,28.9,24.6,54.9,53.9,35.3,35.2,67.4,2.1,10,1,2022,0,0,0,0,0,0,0
10,Iowa St.,B12,NaN,32,20.0,0.625000,102.9,90.3,0.8190,49.9,48.4,20.4,24.5,28.2,28.5,28.1,36.2,50.9,50.7,32.1,29.6,66.2,2.5,11,1,2022,0,0,0,0,0,0,0
11,Richmond,A10,NaN,35,23.0,0.657143,108.0,99.5,0.7186,51.5,50.5,14.4,18.9,22.4,27.2,30.9,23.5,52.2,50.0,33.8,34.3,66.7,-1.5,12,0,2022,0,0,0,0,0,0,0
12,South Dakota St.,Sum,NaN,32,30.0,0.937500,115.2,103.7,0.7704,59.7,51.5,15.3,15.8,24.0,24.2,35.2,21.3,56.3,50.6,44.2,35.2,69.6,1.8,13,0,2022,0,0,0,0,0,0,0
13,Colgate,Pat,NaN,33,23.0,0.696970,106.5,103.1,0.5917,55.9,49.0,16.9,16.2,26.5,24.8,26.8,24.3,52.7,48.2,40.2,33.7,67.1,-6.2,14,0,2022,0,0,0,0,0,0,0
14,Jacksonville St.,ASun,NaN,29,21.0,0.724138,104.4,102.2,0.5610,54.2,48.0,20.0,17.1,28.3,26.2,32.2,21.1,51.8,47.4,38.2,32.5,65.1,-5.1,15,0,2022,0,0,0,0,0,0,0
15,Texas Southern,SWAC,NaN,30,18.0,0.600000,96.9,98.7,0.4468,48.7,44.9,21.4,17.4,33.8,28.2,32.7,34.3,49.2,45.2,31.7,29.5,67.6,-6.6,16,0,2022,0,0,0,0,0,0,0

**Determining an outcome**

The main issue regarding the matchups was how to create a dataframe that can be trained to predict the outcome to a game. While prediciting likeliness of what round each team would reach is easier, this would not give us the same head-to-head chaos that March Madness embodies. The best way to predict the outcome of each induvidual game is to create a dataframe that shows head-to-head matchups. 

To do this, I created a function diff(df,u) that takes a region dataframe (df) and creates the head-to-head matchups. This function repeats for the number of matchups in the region for that round (u). The function take the first team in the dataframe and the last team in the dataframe, which are the 1 and 16 seed, and works their way in. So in the next matchup, it would be the 2 seed agains the second to last seed (15), and the for loop would keep going until the last matchup (8 vs 9) is created by moving its way from the outside in. For each match set by the for loop, both are run through the lists(x,y), which subtracts the numeric statistics of y (the lower seed) by x (the higher seed) to create a difference. This difference is returned as  list of differences which is then appended to a its own list (listDF) in the diff(df,u) function. Once all the matchup differences are created, the function creates a dataframe using listDF and returns that dataframe. The predictive model will us this format of dataframe (the differences) as its training data.

In [55]:
df_headers = list(ncaam.columns)

In [56]:
train_years = [13,14,15,16,17,18,19,21]

In [57]:
df_past = []
for x in range(0,len(legs)):
    for y in train_years:
        df_past.append(globals()[legs[x] + '%s' % y + '%s' %"_df"])

In [58]:
df_past[1].head()

,TEAM,CONF,POSTSEASON,G,W,WIN_PER,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED,POWER,YEAR,R64,R32,S16,E8,F4,C2,Champions
0,Virginia,ACC,S16,37,30,0.810811,114.6,89.5,0.9449,50.8,44.2,16.5,18.4,33.9,25.8,42.0,32.5,49.0,42.1,36.9,32.3,61.2,8.2,1,1,2014,1,1,1,0,0,0,0
1,Villanova,BE,R32,34,29,0.852941,115.2,92.5,0.9260,53.6,46.3,17.3,20.0,32.6,28.7,44.5,38.6,53.8,43.0,35.6,35.3,67.6,8.3,2,1,2014,1,1,0,0,0,0,0
2,Iowa St.,B12,S16,36,28,0.777778,118.6,98.8,0.8903,54.2,47.7,14.5,15.9,28.8,28.5,36.4,30.7,54.4,46.0,35.8,34.1,71.6,7.5,3,1,2014,1,1,1,0,0,0,0
3,Michigan St.,B10,E8,38,29,0.763158,119.6,95.3,0.9319,54.5,45.8,17.4,17.7,32.9,27.5,33.7,40.3,52.1,43.5,39.2,33.2,66.2,6.9,4,1,2014,1,1,1,1,0,0,0
4,Cincinnati,Amer,R64,34,27,0.794118,108.7,91.5,0.8783,47.7,44.8,17.4,22.4,39.1,32.3,38.7,36.0,46.6,43.2,33.5,32.0,63.5,5.3,5,0,2014,1,0,0,0,0,0,0

In [59]:
def lists(a,b):
    listA = []
    for x in range(3,25):
        diff = a[x] - b[x]
        listA.append(diff)
    return listA

In [60]:
def upset_64(x,g,string):
    listB = list(x[string])
    listB.reverse()
    length = int(len(listB)/2)
    listB = listB[0:g]
    return listB

In [61]:
def diff(df,u):
    listDF = []
    for y in range(0,u):
        test_upsetH = df.iloc[y]
        test_upsetL = df.iloc[-(y+1)]
        listDF.append(lists(test_upsetH,test_upsetL))
    return pd.DataFrame(listDF, columns = df_headers[3:25]).sort_values(by = ["SEED"])

In [62]:
def creation(df, next_rounds):
    y = pd.DataFrame(columns = new_columns[3:25])
    asd = pd.DataFrame(columns = new_columns)
    num = int(len(df)/2)
    get_list= upset_64(df,num, next_rounds)
    for x in range(0,num):
        h = df.iloc[x]
        l = df.iloc[(-x-1)]
        if get_list[x] == 1:
            asd = asd.append(l)
        if get_list[x] == 0:
            asd = asd.append(h)
    y = y.append(diff(df,num))
    y["TRAIN"] = get_list
    y.TRAIN = y.TRAIN.astype(int)
    return [y,asd]

In [63]:
df_past64 = []
for x in range(0,len(legs)):
    for y in train_years:
        df_past64.append(globals()[legs[x] + '%s' % y + '%s' %"_df"])

In [64]:
def create_train(a, next_round):
    df = pd.DataFrame(columns = new_columns[3:25])
    df_next = []
    for x in a:
        train, next_df = creation(x,next_round)
        df = df.append(train)
        df_next.append(next_df)
    return df, df_next

In [65]:
round_name = ["R32", "S16", "E8", "F4"]
train_master = pd.DataFrame(columns = new_columns[3:25])

for x in range(0,len(round_name)):
    a = 2**(6-x)
    b = 2**(5-x)
    holder = create_train(globals()["df_past" + '%s' % a], round_name[x])
    globals()["train" + '%s' % a] = holder[0]
    globals()["df_past" + '%s' % b] = holder[1]
    train_master = train_master.append(holder[0])

### Final 4 Training DF

fin4 = df of all teams in the final 4

In [66]:
df_pastF4 = []
num = len(train_years)

for p in range(num):
    df_list = []
    for i in range(4):
        df_list.append(df_past4[(i * num) + p])
    df = pd.concat(df_list)
    df_pastF4.append(df)

In [67]:
new_dfs = []
for x in df_past:
    y = x[x["F4"]==1]
    new_dfs.append(y)

In [68]:
fin4 = pd.concat(new_dfs)

In [69]:
for y in train_years:
    year = y + 2000
    globals()["fin4_" + '%s' % y] = fin4[fin4["YEAR"]== year]["TEAM"]

In [70]:
fin4_13 = fin4_13.sort_values(ascending = True)

fin4_14 = fin4_14.sort_values(ascending = True)
fin4_14 = fin4_14.reindex([6,7,1,0])

fin4_15 = fin4_15.sort_values(ascending = True)
fin4_15 = fin4_15.reset_index(drop = True)
fin4_15 = fin4_15.reindex([0,3,1,2])

fin4_16 = fin4_16.sort_values(ascending = True)
fin4_16 = fin4_16.reset_index(drop = True)
fin4_16 = fin4_16.reindex([0,3,1,2])
                          
fin4_17 = fin4_17.sort_values(ascending = True)
fin4_18 = fin4_18.sort_values(ascending = True)       
fin4_19 = fin4_19.sort_values(ascending = True)

fin4_21 = fin4_21.sort_values(ascending = True)
fin4_21 = fin4_21.reset_index(drop = True)
fin4_21 = fin4_21.reindex([0,3,1,2])

In [71]:
df_past4 = []
for x in train_years:
    y = train_years.index(x)
    df = pd.DataFrame(globals()["fin4_" + '%s' % x ])
    year = 2000 + x
    df2 = df_pastF4[y]
    df = df.merge(df2, left_on='TEAM', right_on='TEAM')
    df_past4.append(df)

In [72]:
train4, df_past2 = create_train(df_past4, "C2")
train2, df_past1 = create_train(df_past2, "Champions")

In [73]:
for x in [train4,train2]:
    train_master = train_master.append(x)

### Scaling

In [74]:
train_neg = train_master[train_master["SEED"]<=0]
train_pos = train_master[train_master["SEED"]>0]

In [75]:
train_pos = - train_pos
train_pos["TRAIN"] = train_pos["TRAIN"] + 1

In [76]:
train_master = pd.concat([train_pos, train_neg])

In [77]:
train_master = train_master.reset_index(drop = True)

from sklearn.preprocessing import StandardScaler  

scaler = StandardScaler()
scaler.fit(train_master.drop(columns = ["TRAIN"]))

def scale(df):
    m = pd.DataFrame(scaler.transform(df), columns = df.columns)
    return m

In [78]:
seed_cutoff_low = -7
seed_cutoff_high = -4
big_upset = train_master[train_master["SEED"] < seed_cutoff_low]
little_upset = train_master[train_master["SEED"] > seed_cutoff_high]
competative = train_master[(train_master["SEED"] <= seed_cutoff_high) & (train_master["SEED"] >= seed_cutoff_low)]

## Model Training

In [79]:
import sklearn.tree as tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [80]:
def formatStuff(df):
    y = df["TRAIN"]
    x = scale(df.drop(columns = ["TRAIN"]))
    return [x,y]

In [81]:
train_df = formatStuff(train_master)
train_big = formatStuff(big_upset)
train_little = formatStuff(little_upset)
train_comp = formatStuff(competative)

In [82]:
for p in [train_df, train_big, train_little, train_comp]:
    print(sum(p[1])/len(p[0]))
    print(len(p[0]), "\n")

0.30753968253968256
504

0.17475728155339806
206

0.40993788819875776
161

0.38686131386861317
137

In [83]:
#MLP Classifier
X = train_big[0]
Y = list(train_big[1])

x = train_little[0]
y = list(train_little[1])

train_x = train_comp[0]
train_y = list(train_comp[1])

iterations = 1000
alpha = 3
 
mlp_big = MLPClassifier(max_iter= iterations, alpha=alpha, random_state = 69)
mlp_big.fit(X, Y)
print("Accuracy on training set: {:.3f}".format(mlp_big.score(X,Y)))

mlp_little = MLPClassifier(max_iter= iterations, alpha= alpha, random_state = 69)
mlp_little.fit(x, y)
print("Accuracy on training set: {:.3f}".format(mlp_little.score(x, y)))

mlp_comp = MLPClassifier(max_iter= iterations, alpha= alpha, random_state = 69)
mlp_comp.fit(train_x, train_y)
print("Accuracy on training set: {:.3f}".format(mlp_comp.score(train_x, train_y)))

Accuracy on training set: 0.825
Accuracy on training set: 0.950
Accuracy on training set: 0.934

In [84]:
#FOREST
X = train_big[0]
Y = list(train_big[1])

x = train_little[0]
y = list(train_little[1])

train_x = train_comp[0]
train_y = list(train_comp[1])

est = 6
depth = 5
 
forest_big = RandomForestClassifier(n_estimators=est, max_depth = depth, random_state = 69)
forest_big.fit(X, Y)
print("Accuracy on training set: {:.3f}".format(
    forest_big.score(X, Y)))

forest_little = RandomForestClassifier(n_estimators=est, max_depth = depth, random_state = 69)
forest_little.fit(x, y)
print("Accuracy on training set: {:.3f}".format(
    forest_little.score(x, y)))

forest_comp = RandomForestClassifier(n_estimators=est, max_depth = depth, random_state = 69)
forest_comp.fit(train_x, train_y)
print("Accuracy on training set: {:.3f}".format(forest_comp.score(train_x, train_y)))

Accuracy on training set: 0.937
Accuracy on training set: 0.919
Accuracy on training set: 0.898

In [85]:
#SVM
X = train_big[0]
Y = list(train_big[1])

x = train_little[0]
y = list(train_little[1])

train_x = train_comp[0]
train_y = list(train_comp[1])

svc_big = SVC(random_state = 69, C = 1)
svc_big.fit(X, Y)
print("Accuracy on training set: {:.3f}".format(svc_big.score(X, Y)))

svc_little = SVC(random_state = 69, C = 1)
svc_little.fit(x, y)
print("Accuracy on training set: {:.3f}".format(svc_little.score(x, y)))

svc_comp = SVC(random_state = 69, C = 1)
svc_comp.fit(train_x, train_y)
print("Accuracy on training set: {:.3f}".format(svc_comp.score(train_x, train_y)))

Accuracy on training set: 0.859
Accuracy on training set: 0.919
Accuracy on training set: 0.861

In [86]:
#Log Regressor
X = train_big[0]
Y = list(train_big[1])

x = train_little[0]
y = list(train_little[1])

train_x = train_comp[0]
train_y = list(train_comp[1])

clf_big =  LogisticRegression(random_state=69, C =1)
clf_big.fit(X, Y)
print("Accuracy on training set: {:.3f}".format(clf_big.score(X, Y)))

clf_little = LogisticRegression(random_state=69, C = 5)
clf_little.fit(x, y)
print("Accuracy on training set: {:.3f}".format(clf_little.score(x, y)))

clf_comp = LogisticRegression(random_state=69, C = 20)
clf_comp.fit(train_x, train_y)
print("Accuracy on training set: {:.3f}".format(clf_comp.score(train_x, train_y)))

Accuracy on training set: 0.903
Accuracy on training set: 0.863
Accuracy on training set: 0.781

In [87]:
#K-Nearest
X = train_big[0]
Y = list(train_big[1])

x = train_little[0]
y = list(train_little[1])

train_x = train_comp[0]
train_y = list(train_comp[1])

neighbors = 5

knn_big = KNeighborsClassifier(n_neighbors=neighbors)
knn_big.fit(X, Y)
knn_bscore = knn_big.score(X, Y)

knn_little = KNeighborsClassifier(n_neighbors=neighbors)
knn_little.fit(x, y)
knn_lscore = knn_little.score(x, y)

knn_comp = KNeighborsClassifier(n_neighbors=neighbors)
knn_comp.fit(train_x, train_y)
knn_cscore = knn_comp.score(train_x, train_y)

knn_mean =  sum( [knn_bscore, knn_lscore, knn_cscore])/ len( [knn_bscore, knn_lscore, knn_cscore])

print("Accuracy on training set: {:.3f}".format(knn_bscore))
print("Accuracy on training set: {:.3f}".format(knn_lscore))
print("Accuracy on training set: {:.3f}".format(knn_cscore))

Accuracy on training set: 0.869
Accuracy on training set: 0.820
Accuracy on training set: 0.803

In [88]:
# Naive Bayes
X = train_big[0]
Y = list(train_big[1])

x = train_little[0]
y = list(train_little[1])

train_x = train_comp[0]
train_y = list(train_comp[1])

gnb_big = GaussianNB()
gnb_big.fit(X, Y)
print("Accuracy on training set: {:.3f}".format(gnb_big.score(X, Y)))

gnb_little = GaussianNB()
gnb_little.fit(x,y)
print("Accuracy on training set: {:.3f}".format(gnb_little.score(x, y)))

gnb_comp = GaussianNB()
gnb_comp.fit(train_x, train_y)
print("Accuracy on training set: {:.3f}".format(gnb_comp.score(train_x, train_y)))

Accuracy on training set: 0.748
Accuracy on training set: 0.789
Accuracy on training set: 0.715

In [89]:
# Decision tree
X = train_big[0]
Y = list(train_big[1])

x = train_little[0]
y = list(train_little[1])

train_x = train_comp[0]
train_y = list(train_comp[1])

tree_depth = 7

DT_big = DecisionTreeClassifier(min_samples_leaf = 5, max_depth = tree_depth)
DT_big.fit(X, Y)
print("Accuracy on training set: {:.3f}".format(DT_big.score(X, Y)))

DT_little = DecisionTreeClassifier(min_samples_leaf = 5, max_depth = tree_depth)
DT_little.fit(x, y)
print("Accuracy on training set: {:.3f}".format(DT_little.score(x,y)))

DT_comp = DecisionTreeClassifier(min_samples_leaf = 5, max_depth = tree_depth)
DT_comp.fit(train_x, train_y)
print("Accuracy on training set: {:.3f}".format(DT_comp.score(train_x, train_y)))

Accuracy on training set: 0.947
Accuracy on training set: 0.882
Accuracy on training set: 0.876

**Running the Predictions**

To do this, I create dataframes for each round of the tournament. From there, I created three appendable variables: test_df as an x_test, y_pred as a y_test, and matchup list to keep track of which teams faced off as a visual check. The for loop takes all four regions and sets it equal to the round64 variable. Using the rounds list, which had all the dataframes up until the final four, the for loop would take each round and simulate each matchup by using the lists function to create those differences that were used in the x_train dataframe. Using the result from the lists function (holder), I used the predict function for each ML library to take the values and see if the game was an upset or not. For each game, it would print the matchup, and once the prediction was made, it would print the winner and append the winner to the wins list. Using the wins list, a dataframe would be created (rounds[x+1]). After creating the datframe, it would append the prediction to y_pred and the matchup to matchup_list. After all the rounds how gone, each dataframe created for the round is appended with data from the rounds[x+1].

For each predictive model, it has to be input in the variable q because I have yet to create a loop that can run all these libraries concurrently. "q" is the type of model the prediction runs (SVC, MLP, regressor).

In [119]:
r64 = pd.DataFrame(columns = df_headers)
r32 = pd.DataFrame(columns = df_headers)
s16 = pd.DataFrame(columns = df_headers)
e8 = pd.DataFrame(columns = df_headers)
f4 = pd.DataFrame(columns = df_headers)
c2= pd.DataFrame(columns = df_headers)
winner= pd.DataFrame(columns = df_headers)

In [126]:
#FINE TUNE [knn, DT, forest, mlp, clf, gnb, svc]
b = "gnb"
l = "knn"
c = "mlp"

big = globals()[b + '%s' % "_big"]
little = globals()[l + '%s' % "_little"]
comp= globals()[c + '%s' % "_comp"]

learn = "forest"

big = globals()[learn + '%s' % "_big"]
little = globals()[learn + '%s' % "_little"]
comp= globals()[learn + '%s' % "_comp"]

In [127]:
test_df = pd.DataFrame(columns = df_headers[3:25])
y_pred = []
matchup_list = []
test_regions = [east22_df, south22_df, midwest22_df, west22_df]
#print('\033[1m' + str(learn) + '\033[0m' + "\n")
for x in test_regions: 
    r64 = r64.append(x)
    round64 = x
    rounds = [round64, r32, s16, e8, f4]
    for r in range (0,len(rounds)-1):
        wins = []
        y = len(rounds[r])/2
        y = int(y)
        for x in range(0, y):
            h = rounds[r].iloc[x]
            l = rounds[r].iloc[-x-1]
            holder = pd.DataFrame([lists(h,l)], columns = df_headers[3:25])
            if holder.iloc[0]["SEED"] > 0: 
                holder = -holder
            scaled = scale(holder)
            if holder.iloc[0]["SEED"] < seed_cutoff_high:
                ups = big.predict(scaled)
                #print(big.predict_proba(scaled))
            elif  holder.iloc[0]["SEED"] > seed_cutoff_low:
                ups = little.predict(scaled)
                #print(little.predict_proba(scaled))
            else:
                ups = comp.predict(scaled)
                #print(comp.predict_proba(scaled))
            ups = list(ups)[0]
            print(h['SEED'], h['TEAM'], ' vs. ', l['SEED'], l['TEAM'])
            if ups == 0: 
                wins.append(h)
                print("Winner:", h['SEED'], h['TEAM'])
            if ups == 1:
                wins.append(l)
                print("Winner:", l['SEED'], l['TEAM'])
            test_df = test_df.append(holder)
            matchup = h['TEAM'] + ' vs. ' + l['TEAM']
            matchup_list.append(matchup)
            y_pred.append(ups)
        rounds[r+1] = pd.DataFrame(data = wins, columns = df_headers)
    print("_" * 40)

    r32 = r32.append(rounds[1])
    s16 = s16.append(rounds[2])
    e8 = e8.append(rounds[3])
    f4 = f4.append(rounds[4])

1 Baylor  vs.  16 Norfolk St.
Winner: 1 Baylor
2 Kentucky  vs.  15 Saint Peter's
Winner: 2 Kentucky
3 Purdue  vs.  14 Yale
Winner: 3 Purdue
4 UCLA  vs.  13 Akron
Winner: 4 UCLA
5 Saint Mary's  vs.  12 Indiana
Winner: 12 Indiana
6 Texas  vs.  11 Virginia Tech
Winner: 11 Virginia Tech
7 Murray St.  vs.  10 San Francisco
Winner: 10 San Francisco
8 North Carolina  vs.  9 Marquette
Winner: 8 North Carolina
1 Baylor  vs.  8 North Carolina
Winner: 8 North Carolina
2 Kentucky  vs.  10 San Francisco
Winner: 10 San Francisco
3 Purdue  vs.  11 Virginia Tech
Winner: 11 Virginia Tech
4 UCLA  vs.  12 Indiana
Winner: 12 Indiana
8 North Carolina  vs.  12 Indiana
Winner: 8 North Carolina
10 San Francisco  vs.  11 Virginia Tech
Winner: 10 San Francisco
8 North Carolina  vs.  10 San Francisco
Winner: 8 North Carolina
________________________________________
1 Arizona  vs.  16 Wright St.
Winner: 1 Arizona
2 Villanova  vs.  15 Delaware
Winner: 2 Villanova
3 Tennessee  vs.  14 Longwood
Winner: 3 Tennessee
4 Illinois  vs.  13 Chattanooga
Winner: 13 Chattanooga
5 Houston  vs.  12 UAB
Winner: 12 UAB
6 Colorado St.  vs.  11 Michigan
Winner: 6 Colorado St.
7 Ohio St.  vs.  10 Loyola Chicago
Winner: 10 Loyola Chicago
8 Seton Hall  vs.  9 TCU
Winner: 8 Seton Hall
1 Arizona  vs.  8 Seton Hall
Winner: 1 Arizona
2 Villanova  vs.  10 Loyola Chicago
Winner: 10 Loyola Chicago
3 Tennessee  vs.  6 Colorado St.
Winner: 3 Tennessee
13 Chattanooga  vs.  12 UAB
Winner: 13 Chattanooga
1 Arizona  vs.  13 Chattanooga
Winner: 1 Arizona
10 Loyola Chicago  vs.  3 Tennessee
Winner: 3 Tennessee
1 Arizona  vs.  3 Tennessee
Winner: 3 Tennessee
________________________________________
1 Kansas  vs.  16 Texas Southern
Winner: 1 Kansas
2 Auburn  vs.  15 Jacksonville St.
Winner: 2 Auburn
3 Wisconsin  vs.  14 Colgate
Winner: 3 Wisconsin
4 Providence  vs.  13 South Dakota St.
Winner: 13 South Dakota St.
5 Iowa  vs.  12 Richmond
Winner: 12 Richmond
6 LSU  vs.  11 Iowa St.
Winner: 11 Iowa St.
7 USC  vs.  10 Miami FL
Winner: 10 Miami FL
8 San Diego St.  vs.  9 Creighton
Winner: 9 Creighton
1 Kansas  vs.  9 Creighton
Winner: 1 Kansas
2 Auburn  vs.  10 Miami FL
Winner: 10 Miami FL
3 Wisconsin  vs.  11 Iowa St.
Winner: 11 Iowa St.
13 South Dakota St.  vs.  12 Richmond
Winner: 12 Richmond
1 Kansas  vs.  12 Richmond
Winner: 1 Kansas
10 Miami FL  vs.  11 Iowa St.
Winner: 10 Miami FL
1 Kansas  vs.  10 Miami FL
Winner: 10 Miami FL
________________________________________
1 Gonzaga  vs.  16 Georgia St.
Winner: 1 Gonzaga
2 Duke  vs.  15 Cal St. Fullerton
Winner: 2 Duke
3 Texas Tech  vs.  14 Montana St.
Winner: 3 Texas Tech
4 Arkansas  vs.  13 Vermont
Winner: 13 Vermont
5 Connecticut  vs.  12 New Mexico St.
Winner: 12 New Mexico St.
6 Alabama  vs.  11 Notre Dame
Winner: 11 Notre Dame
7 Michigan St.  vs.  10 Davidson
Winner: 7 Michigan St.
8 Boise St.  vs.  9 Memphis
Winner: 9 Memphis
1 Gonzaga  vs.  9 Memphis
Winner: 1 Gonzaga
2 Duke  vs.  7 Michigan St.
Winner: 2 Duke
3 Texas Tech  vs.  11 Notre Dame
Winner: 11 Notre Dame
13 Vermont  vs.  12 New Mexico St.
Winner: 12 New Mexico St.
1 Gonzaga  vs.  12 New Mexico St.
Winner: 1 Gonzaga
2 Duke  vs.  11 Notre Dame
Winner: 11 Notre Dame
1 Gonzaga  vs.  11 Notre Dame
Winner: 1 Gonzaga
________________________________________

## FINAL 4 SIM

In [94]:
final_four = [f4, c2, winner]
for r in range (0,len(final_four)-1):
    wins = []
    y = len(final_four[r])/2
    y = int(y)
    for x in range(0, y):
        h = final_four[r].iloc[x]
        l = final_four[r].iloc[-x-1]
        holder = pd.DataFrame([lists(h,l)], columns = df_headers[3:25]).sort_values(by = "SEED")
        
        scaled = scale(holder)
        if holder.iloc[0]["SEED"] < seed_cutoff_high:
            ups = big.predict(scaled)
        elif  holder.iloc[0]["SEED"] > seed_cutoff_low:
            ups = little.predict(scaled)
        else:
            ups = comp.predict(scaled)
        ups = list(ups)[0]
        matchup = str(h['SEED']) + " "+ h['TEAM']+  ' vs. '+ str(l['SEED'])+ " "+ l['TEAM']
        print(matchup)
        if ups == 0: 
            wins.append(h)
            print("Winner:", h['SEED'], h['TEAM'])
        if ups == 1:
            wins.append(l)
            print("Winner:", l['SEED'], l['TEAM'])
        test_df = test_df.append(holder)
        matchup_list.append(matchup)
        y_pred.append(ups)
    final_four[r+1] = pd.DataFrame(data = wins, columns = df_headers)
df_c2 = final_four[1]
df_winner = final_four[2]

4 UCLA vs. 1 Gonzaga
Winner: 4 UCLA
1 Arizona vs. 1 Kansas
Winner: 1 Arizona
4 UCLA vs. 1 Arizona
Winner: 4 UCLA

In [95]:
test_df['UPSET'] = y_pred

In [96]:
test_df["MATCHUP"] = matchup_list

In [97]:
df_winner

,TEAM,CONF,POSTSEASON,G,W,WIN_PER,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED,POWER,YEAR
3,UCLA,P12,NaN,32,25.0,0.78125,115.5,91.6,0.9349,50.6,47.7,13.4,19.7,31.9,24.8,29.8,29.2,49.6,47.3,35.2,32.2,65.7,5.5,4,1,2022

In [98]:
test_df.head()

,G,W,WIN_PER,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED,POWER,UPSET,MATCHUP
0,5,2.0,-0.076389,15.9,-10.6,0.4736,1.4,2.7,-1.7,4.4,6.5,1.2,-10.6,-6.4,2.2,3.2,0.1,0.8,0.4,11.6,-15,1,0.0,Baylor vs. Norfolk St.
0,4,7.0,0.132706,21.2,0.2,0.3197,5.5,2.4,-4.2,-3.5,6.3,-3.1,-10.3,-15.9,7.8,3.2,0.1,0.9,1.9,12.7,-13,1,0.0,Kentucky vs. Saint Peter's
0,5,8.0,0.138945,22.1,-0.4,0.3708,6.9,0.7,-1.0,-4.1,9.6,-2.9,3.6,-9.7,5.4,-1.9,6.2,3.1,-3.0,12.1,-11,1,0.0,Purdue vs. Yale
0,1,1.0,0.007056,10.0,-10.8,0.3516,-2.2,-1.6,-4.3,2.1,2.8,-1.5,-10.3,3.0,-2.8,-0.5,-0.4,-2.5,3.8,9.5,-9,1,0.0,UCLA vs. Akron
0,-2,5.0,0.200391,1.1,-1.0,0.0242,1.3,2.7,-0.2,2.1,0.4,-3.1,-10.3,-6.2,1.2,3.6,1.2,1.8,-3.4,4.0,-7,-1,0.0,Saint Mary's vs. Indiana

### COEF Importance

In [99]:
#Lasso

X = train_big[0]
Y = train_big[1]

x = train_little[0]
y = train_little[1]

train_x = train_comp[0]
train_y = train_comp[1]

from sklearn.linear_model import Lasso
lasso_big = Lasso(alpha=0.005)
lasso_big.fit(X,Y)

lasso_little = Lasso(alpha=0.005)
lasso_little.fit(x,y)

lasso_comp = Lasso(alpha=0.005)
lasso_comp.fit(train_x,train_y)

pd.DataFrame([lasso_big.coef_, lasso_little.coef_, lasso_comp.coef_], columns  = new_columns[3:25], index=["big_upset", "little_upset", "competative"])

,G,W,WIN_PER,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED,POWER
big_upset,-0.079708,-0.04523,0.000000,-0.003432,0.046349,-0.00174,-0.024641,0.0000,0.035270,-0.037307,0.000000,-0.074713,-0.004409,0.023554,-0.000000,0.000000,-0.042017,0.010455,-0.053674,-0.000000,-0.000000,-0.004981
little_upset,-0.316484,-0.00000,-0.172312,-0.082721,0.000000,-0.00000,-0.000000,-0.0419,-0.078529,-0.086064,0.001612,0.010126,0.069784,0.000000,0.018807,-0.022477,-0.028477,-0.000000,0.017333,0.000000,-0.000000,-0.060059
competative,-0.159832,-0.04701,-0.000000,-0.015611,0.110641,-0.00000,-0.000000,-0.0000,0.051824,0.000000,-0.038302,-0.024237,-0.030513,-0.089272,-0.123858,-0.005894,0.000000,0.013286,0.057599,0.071731,-0.144862,-0.015602

In [100]:
corr = train_df[0]
corr["SEED"] = pd.to_numeric(train_df[1])
corr.corr().sort_values(by = ["SEED"])["SEED"]

G         -0.456433
W         -0.411288
BARTHAG   -0.303369
WAB       -0.299803
ADJOE     -0.298254
WIN_PER   -0.230758
EFG_O     -0.157565
2P_O      -0.150271
TORD      -0.140712
POWER     -0.122769
3P_O      -0.088138
DRB       -0.063861
ORB       -0.053310
ADJ_T      0.006347
FTRD       0.019966
2P_D       0.057039
FTR        0.078207
3P_D       0.081173
EFG_D      0.092294
TOR        0.145694
ADJDE      0.217772
SEED       1.000000
Name: SEED, dtype: float64

In [101]:
all_scen = []
learning = []

In [102]:
for f in range(7):
    for g in range(7):

        r64 = pd.DataFrame(columns = df_headers)
        r32 = pd.DataFrame(columns = df_headers)
        s16 = pd.DataFrame(columns = df_headers)
        e8 = pd.DataFrame(columns = df_headers)
        f4 = pd.DataFrame(columns = df_headers)
        c2= pd.DataFrame(columns = df_headers)
        winner= pd.DataFrame(columns = df_headers)

        #FINE TUNE [knn, DT, forest, mlp, clf, gnb, svc]
        learners = ["knn", "DT", "forest", "mlp", "clf", "gnb", "svc"]
        b = learners[f]
        l = learners[g]
        c = "mlp"

        big = globals()[b + '%s' % "_big"]
        little = globals()[l + '%s' % "_little"]
        comp= globals()[c + '%s' % "_comp"]

        test_df = pd.DataFrame(columns = df_headers[3:25])
        y_pred = []
        matchup_list = []
        test_regions = [east22_df, south22_df, midwest22_df, west22_df]
        #print(b, l, c)
        for x in test_regions: 
            r64 = r64.append(x)
            round64 = x
            rounds = [round64, r32, s16, e8, f4]
            for r in range (0,len(rounds)-1):
                wins = []
                y = len(rounds[r])/2
                y = int(y)
                for x in range(0, y):
                    h = rounds[r].iloc[x]
                    l = rounds[r].iloc[-x-1]
                    holder = pd.DataFrame([lists(h,l)], columns = df_headers[3:25])
                    if holder.iloc[0]["SEED"] > 0: 
                        holder = -holder
                    scaled = scale(holder)
                    if holder.iloc[0]["SEED"] < seed_cutoff_high:
                        ups = big.predict(scaled)
                    elif  holder.iloc[0]["SEED"] > seed_cutoff_low:
                        ups = little.predict(scaled)
                    else:
                        ups = comp.predict(scaled)
                    ups = list(ups)[0]
                    if ups == 0: 
                        wins.append(h)
                    if ups == 1:
                        wins.append(l)
                    test_df = test_df.append(holder)
                    matchup = h['TEAM'] + ' vs. ' + l['TEAM']
                    matchup_list.append(matchup)
                    y_pred.append(ups)
                rounds[r+1] = pd.DataFrame(data = wins, columns = df_headers)

            r32 = r32.append(rounds[1])
            s16 = s16.append(rounds[2])
            e8 = e8.append(rounds[3])
            f4 = f4.append(rounds[4])
        
        learning.append(learners[f] + " " + learners[g])
        all_scen.append(list(f4.TEAM))

In [103]:
all_scen1 = []
for j in all_scen:
    all_scen1.append(list(j))

In [104]:
scenarios = pd.DataFrame(all_scen1, columns = ["East", "South", "Midwest", "West"])

In [105]:
scenarios.index = learning

In [115]:
max_east = max(scenarios.groupby(["East"]).count()["South"])
scenarios.groupby(["East"]).count()["South"].sort_values(ascending = False)/max_east*100

East
Baylor            100.000000
Virginia Tech      66.666667
Purdue             38.095238
UCLA               14.285714
Indiana             9.523810
North Carolina      4.761905
Name: South, dtype: float64

In [114]:
max_south = max(scenarios.groupby(["South"]).count()["East"])
scenarios.groupby(["South"]).count()["East"].sort_values(ascending = False)/max_south*100

South
Arizona      100.000000
Tennessee     95.833333
Villanova      8.333333
Name: East, dtype: float64

In [113]:
max_midwest = max(scenarios.groupby(["Midwest"]).count()["East"])
scenarios.groupby(["Midwest"]).count()["East"].sort_values(ascending = False)/max_midwest*100

Midwest
Kansas      100.000000
Iowa         42.857143
Auburn       42.857143
Miami FL     23.809524
LSU          14.285714
USC           9.523810
Name: East, dtype: float64

In [112]:
max_west = max(scenarios.groupby(["West"]).count()["East"])
scenarios.groupby(["West"]).count()["East"].sort_values(ascending = False)/max_west*100

West
Gonzaga         100.000000
Duke             82.352941
Arkansas         47.058824
Connecticut      35.294118
Michigan St.     23.529412
Name: East, dtype: float64

In [110]:
scenarios1 = scenarios[scenarios["East"] == "North Carolina"]

In [111]:
scenarios1

                   East      South   Midwest     West
gnb knn  North Carolina  Tennessee  Miami FL  Gonzaga